/*
	Template Name: carrito
    Template URL: http://demo.themeregion.com/carrito
	Author: Theme Region
	Author URI : http://www.themeregion.com/
    Version: 1.0
    Description: HTML5 Responsive Ecommerce Template.
	Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global 
# tr-breadcrumb 
# Tr Topbar 
# topbar-middle 
# tr-menu 
# Tr Banner 
# tr-promotion 
# Products 
# tr-cta 
# daily-needs 
# tr-convenience 
# tr-brands 
# Product Categories 
# choices-option 
# tr-color 
# tr-size 
# tr-pagination 
# Details Page CSS 
# Shopping Cart 
# tr-account 
# tr-footer 
# Extra CSS 


==================================================

*/

/* ==========================================================================
 	Global
 ========================================================================== */

html,
body {
	font-weight:normal;
	overflow-x:hidden;
	color: #878787;
	font-size: 14px;
	background-color: #f7f7f5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.tr-list {
	margin:0;
	padding:0;
    list-style:none;
}

a {
	color:#878787;
}

a, 
a:hover,
a:focus,
input:focus {
	text-decoration:none;
	outline: none;
}

a:hover {
	color:#ec2227;
}

a:active,
a:focus, button:focus, .btn:focus,
input:focus, textarea:focus, select:focus, 
.form-control, .form-control:focus {
    outline: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

button {
	cursor: pointer;
}

.tr-list,
.tr-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn.btn-primary {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 30px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #faaf3a;
}

.btn.btn-primary:hover {
	color: #fff;
	background-color: #ec2227;
}

.btn.btn-primary:before,
.btn.btn-primary:after {
	position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    background-color: #faaf3a;
}

.btn.btn-primary:before {
	top: 0;
}

.btn.btn-primary:after {
	bottom: 0;
}

.btn.btn-primary:hover:before {
	top: -100%;
}

.btn.btn-primary:hover:after {
	bottom: -100%;
}

select.form-control:not([size]):not([multiple]) {
	height: 48px;
}

.form-control {
	height: 48px;
	color: #878787;
	padding: 5px 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	border: 1px solid #e2e4e8;
	background-color: #f7f7f7;
}

.form-control:focus {
	color: #878787;
	border-color: #faaf3a;
}

.tr-section,
.products {
	border-radius: 8px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-moz-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-ms-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-o-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	box-shadow: 0 3px 12px rgba(0,0,0,.09);	
}

.section-title h1 {
	font-size: 30px;
	color: #060606;
	font-weight: 300;
	margin: 0;
}

.section-title {
	margin: 70px 0 40px;
	overflow: hidden;
}

.section-title h1 span {
	position: relative;
	display: inline-block;
}

.section-title h1 span:before,
.section-title h1 span:after {
	position: absolute;
	content: "";
	top: 50%;
	width: 300%;
	height: 1px;
	background-color: #e0e0de;
}

.section-title h1 span:before {
	right: 110%;
}

.section-title h1 span:after {
	left: 110%;
}

.main-wrapper {
	padding: 50px 0;
}

.product-icon .icon {
	position: absolute;
	background-color: #f7f7f5;
	width: 55px;
	top: 50%;
	color: #faaf3a;
	margin-top: -60px;
	height: 55px;
	line-height:65px;
	font-size: 25px;
	border-radius: 100%;
}

.product-icon .icon:hover {
	color: #fff;
	background-color: #faaf3a;
}

.product-icon .icon.icon-basket {
	left: -100%;
	margin-left: -25px;
}

.product-icon .icon.icon-pulse {
	right: -100%;
	margin-right: -65px;
}

.product:hover .product-icon .icon.icon-basket {
	left: 50%;
}

.product:hover .product-icon .icon.icon-pulse {
	right: 70%;
}

/* tr-breadcrumb */

.tr-breadcrumb {
	color: #fff;
	z-index: 1;
	padding: 70px 0;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/bg/breadcrumb-bg.jpg);
}

.breadcrumb {
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	margin: 10px 0 5px;
	text-transform: uppercase;
	background-color: transparent;
}

.breadcrumb li.active,
.breadcrumb li a {
	color: #a9abac;
}

.breadcrumb li a:hover {
	color: #fff;
}

.breadcrumb>li+li:before {
	padding: 0;
	color: #a9abac;
}

.page-title h1 {
	margin: 0;
	font-size: 60px;
	text-transform: uppercase;
}

/* Tr Topbar */

.tr-topbar {
	padding:0;
	background-color: #f3f3f3;
}
.tr-topbar {
}
.tr-topbar {
}
.tr-topbar {
    background-color: #303030;
}

.tr-topbar .container {
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

.tr-topbar .topbar-right{
	float: right;
	margin-right: 165px;
}

.tr-topbar .topbar-right ul {
	float: left;
	margin-right: 25px;
}

.currency {
	float: right;
}

.tr-topbar .topbar-right li {
	float: left;
	margin-right: 25px;
}

.tr-topbar ul li:last-child {
	margin-right: 0;
}

.tr-topbar ul li .icon {
	font-size: 22px;
	margin-top: -2px;
	margin-right: 10px;
	float: left;
	line-height: 0;
}

.tr-topbar .btn.btn-primary {
	position: absolute;
	top: 0;
	right: 15px;	
	padding: 14px 25px;
	border-radius: 0;
	height: 100%;
	text-transform: capitalize;
	font-weight: normal;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: medium none;
    background: transparent;
    cursor: pointer;	
    display: block;
    min-width: 75px;
    padding:0 15px;
}

.select-language {
	min-width: 50px;
	text-align: center;
	float: left;
}

.select-language .tr-dropdown-menu {
	padding: 5px 8px;
} 

.select-language .tr-dropdown-menu li a {
	font-size: 12px;
}

.select-language .tr-dropdown-menu .tr-flag {
	margin-right: 4px;
}

.tr-dropdown-menu li {
	margin-right: 0;
	position: relative;
}

.tr-dropdown-menu li a {
	display: block;
	padding: 1px 5px;
}

.dropdown-menu>li>a:hover {
	color: #fff;
	background-color: #faaf3a;
}

.caret {
	margin-top: -3px;
	border-top: 4px solid #bababa;
}

.tr-flag {
	line-height: 0;
	margin-right: 8px;
	display: inline-block;
	border: 1px solid #d2d2d2;
}

.tr-flag img {
	width: 100%;
	height: 100%;
}

.select-after {
	z-index: 1;
	position: relative;
}

.select-after:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    width: 0;
    height: 0;
    z-index: -1;
    border-top: 4px solid #bababa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;    
}

.currency.select-after:after {
	right: 5px;
}

.currency select {
	min-width: 70px;
	padding: 0 5px;
	color: #878787;
}


/* topbar-middle */

.topbar-middle {
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 70px;
    background-color: #fff;
}

.tr-logo {
	float: left;
	height: 60px;
	padding: 5px 0;
	margin-right: 75px;
}

.tr-logo.tr-logo-2 {
	display: none;
}

.topbar-middle .search-form {
    float: left;
    width: 400px;
    position: relative;
}

.search-form .form-control {
	border-radius: 4px;
	margin-bottom: 0;
}

.topbar-middle .search-form button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	color: #fff;
	font-size: 20px;
	padding: 9px 18px;
	border-radius: 0px 4px 4px 0px;
	background-color: #faaf3a;
}

.user-image {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 5px;
}

.user-image img {
	width: 100%;
	height: 100%;
}

.cart-content .tr-dropdown-menu {
	min-width: 280px;
	left: inherit;
	padding: 20px 15px;
	right: 0 !important;
}

.cart-content .tr-dropdown-menu li {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
}

.cart-content .tr-dropdown-menu li:last-child {
	margin-bottom: 0;
}

.cart-content .product {
	margin-bottom: 0;
	padding: 0;
}

.cart-content .product .product-image {
	float: left;
	width: 100px;
	border-radius: 4px;
	padding: 5px;
}

.cart-content .product:hover .product-image img {
	-moz-transform: scale(1) rotate(0deg);
	-webkit-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);	
}

.cart-content .product .product-title {
	margin-top: 20px;
}

.total-price {
	font-weight: 600;
	color: #3a3d3f;
	font-size: 16px;
	text-align: center;
	margin: 20px 0 15px;
}

.cart-content .btn.btn-primary {
	font-size: 12px;
	padding: 8px 25px;
}

.cart-content .cart-button {
	margin-right: 12px;
}

.total-price strong {
	margin-right: 5px;
}

.remove-item {
	position: relative;
}

.remove-icon {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	font-weight: 300;
	z-index: 999;
}

.remove-icon:hover {
	color: #faaf3a;
}

.cart-content>li {
	float: left;
	margin-right: 20px;
	position: relative;
} 

.cart-content li .icon {
	font-size: 20px;
}

.cart-content li:last-child {
	margin-right: 0;
}

.cart-number {
	position: absolute;
	top: -10px;
	right: -10px;
	color: #fff;
	display: inline-block;
	padding: 7px;
	font-size: 12px;
	border-radius: 100%;
	line-height: 8px;
	background-color: #ea2e49;
}

.tr-user {
	float: left;
	margin-right: 20px;
}

.topbar-middle .right-content {
	float: right;
	padding: 5px 0;
}

.cart-content {
	float: right;
	padding: 5px 0;
}

.user-option {
	min-width: 100px;
	float: left;
	padding: 7px 0;
}

.user-option .tr-dropdown {
	font-size: 16px;
	padding: 0 10px;
	text-transform: uppercase;	
}

.user-option .tr-dropdown button {
	padding: 2px 0;
	border: 0;
	display: block;
	background-color: transparent;
}

.user-option .tr-dropdown button:hover,
.user-modal button.close:hover {
	color: #faaf3a;
}

.user-modal .modal-header {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	z-index: 9999;
}

.user-modal button.close {
	font-size: 22px;
	color: #878787;	
	line-height: 10px;
}

/* tr-menu */

.navbar {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 0;
	margin-bottom: 0;
	background-color: #faaf3a;
}


.navbar-toggleable-md .navbar-nav .nav-link,
.navbar .navbar-nav>li>a {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 20px;
	margin-right: 1px;
	text-transform: uppercase;
	background-color: #faaf3a;
}


.navbar .navbar-nav li a:hover, 
.navbar .navbar-nav>li>a:focus, 
.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>.active>a, 
.navbar .navbar-nav>.active>a:focus, 
.navbar .navbar-nav>.active>a:hover,
.navbar .tr-dropdown-menu li.active>a {
	color: #fff;
	background-color: #ec2227;
}

.navbar .navbar-toggle,
.navbar .navbar-toggle:focus, 
.navbar .navbar-toggle:hover {
	border-color: #fff;
	background-color: transparent;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-collapse {
	padding: 0;
}

.navbar-toggler-right {
	top: -42px;
	cursor: pointer;
	padding: 3px 6px;
	border: 1px solid #fff;
}

.navbar-toggler-icon {
	position: relative;
	text-align: center;
}

.navbar-toggler-icon:before {
	position: absolute;
	top: 0;
	left: 2px;
	color: #fff;
	content: "\f0c9";
	font-family: "fontawesome";
	font-size: 25px;
}

/*Dropdown CSS*/

.tr-dropdown {
	position: relative;
}

.tr-dropdown-menu,
.sub-menu {
	position: absolute;
	top: 100%;	
	min-width: 100%;
	width: 100%;
	left: 0;
	border-radius: 0;
	background-color: #fff;	
	padding: 8px 15px;
	list-style: none;
    opacity: 0;
    z-index: 99;
    border-top: 1px solid #ddd;
    visibility: hidden;
    background-color: #fff;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -ms-transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transition: transform 0.3s, opacity 0.3s; 
}

.tr-dropdown-menu li a {
	padding: 2px 0;
	font-size: 14px;
}

.tr-menu .tr-dropdown-menu {
	min-width: 180px; 
	padding: 15px 0;
}

.tr-dropdown-menu .sub-menu {
	left: 100%;	
	top: 0;	
	padding: 15px 0;
}

.tr-dropdown-menu .sub-menu li a {
	margin-right: 0;
}

.navbar  .tr-dropdown-menu li a {
	display: block;
	font-size: 14px;
	font-weight: normal;
	padding:5px 20px;
	color: #faaf3a;
	margin-right: 0;
	background-color: #fff;
	border-bottom: 1px solid #fff;
}

.tr-dropdown-menu li:last-child>a{
	border-bottom: 0;
}

.tr-dropdown:hover>.tr-dropdown-menu,
.tr-dropdown-menu li:hover>.sub-menu {
    visibility: visible;
    opacity: 1; 
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

/*End Drpdown Menu CSS*/

/* Mega Menu CSS */

.tr-dropdown.mega-dropdown {
	position: inherit;
}

#mainmenu {
	position: relative;
}

.menu-content {
	width: 100%;
	position: relative;
}

.tr-dropdown-menu.mega-menu {
	padding: 50px 15px;
}

.tr-dropdown-menu.mega-menu li a {
	padding-left: 0;
}

.tr-dropdown-menu.mega-menu li a:hover,
.tr-dropdown-menu.mega-menu li.active a {
	padding-left: 20px;
}

.mega-menu>li {
	float: left;
	width: 25%;
	padding: 0 15px;
}

.mega-menu .title {
	display: block;
	font-size: 16px;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-weight: 700;
    color: #ec2227;
}

/* Tr Banner */

.tr-banner {
	position: relative;
	overflow: hidden;
	background-image: url(../images/bg/banner-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.tr-banner:before,
.tr-breadcrumb:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(38, 43, 50, 0.9);
}

.tr-breadcrumb:before {
	z-index: -1;
}

.banner-info {
	padding-bottom: 100px;
}

.banner-info,
.banner-image {
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	height: 720px;
	display: table;
}

.info-middle {
	display: table-cell;
	vertical-align: middle;
}

.banner-info .click-cart {
	font-size: 18px;
	color: #aaabac;
	font-weight: 700;
	text-transform: uppercase;
}

.banner-info span {
	display: block;
	animation-delay: 0.95s;
    -webkit-animation-delay: 0.95s;		
}

.banner-info h1 {
	font-size: 58px;
	margin: 0 0 25px;
	text-transform: uppercase;
	animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;	
}

.banner-info .paragraphs {
	max-width: 320px;
	animation-delay: 0.80s;
    -webkit-animation-delay: 0.80s;	
}

.banner-info .buy-now {
	margin-top: 55px;
	animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;		
}

.buy-now span {
	font-size: 48px;
	font-weight: 700;
	line-height: 55px;
	margin-right: 40px;
	float: left;
}

.banner-image {
	animation-delay: 0.85s;
    -webkit-animation-delay: 0.85s;	
}

.indicators-content {
	position: relative;
}

.carousel-indicators {
	bottom: 150px;
	left: 0;
	justify-content:left;
	text-align: left;
	margin-left: 15px;
}

.carousel-indicators li,
.carousel-indicators .active {
	border: none;
	margin: 10px;
	max-width: 6px;
	height: 6px;
	border-radius: 100%;
	background-color: #97999c;
	position: relative;
}

.carousel-indicators li:hover,
.carousel-indicators .active {
	background-color: transparent;
}

.carousel-indicators li:before,
.carousel-indicators .active:before {
	position: absolute;
	content: "";
	top: -4px;
	left: -4px;
	width: 14px;
	height: 14px;
	border: 2px solid transparent;
	border-radius: 100%;
}

.carousel-indicators li:hover:before,
.carousel-indicators .active:before {
	border: 2px solid #faaf3a;
}

/* tr-promotion */

.tr-promotion {
	margin-top: -140px;
}

.promotion {
	font-size: 16px;
	line-height: 22px;
	min-height: 390px;
	margin-bottom: 30px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-moz-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-ms-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	-o-box-shadow: 0 3px 12px rgba(0,0,0,.09);
	box-shadow: 0 3px 12px rgba(0,0,0,.09);
}

.promotion h1 {
	font-size: 30px;
	color: #2c2a2a;
	margin: 0 ;
	font-weight: 300;
	text-transform: capitalize;
}

.promotion h2 {
	color: #2c2a2a;
	font-weight: 600;
	margin: 0 0 30px;
}

.promotion-left {
	text-align: center;
	position: relative;
	background-size: cover;
	background-image: url(../images/others/promotion-left-bg.jpg);
}

.promotion-left .left-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 35px 20px;
}

.promotion-left span {
	display: block;
	margin-top: 10px;
}

.promotion .right-content {
	padding: 50px;
	max-width: 380px;
}

.promotion .btn {
	margin-top: 20px;
}

.promotion-right {
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../images/others/promotion-right-bg.jpg);
}

/* Products */

.products {
	background-color: #fff;
}

.product-image {
	overflow: hidden;
}

.product:hover .product-image img {
	-moz-transform: scale(1.05) rotate(2deg);
	-webkit-transform: scale(1.05) rotate(2deg);
	-o-transform: scale(1.05) rotate(2deg);
	-ms-transform: scale(1.05) rotate(2deg);
	transform: scale(1.05) rotate(2deg);	
}

.product-category {
	float: left;
	width: 415px;
	height: 370px;
	overflow: hidden;
	position: relative;
}

.products .random-product {
	width: 695px;
	float: right;
	padding: 30px;
}

.product-slider  .product {
	padding: 20px 5px;
	border-radius: 0;
	border-left: 1px solid #eeeeee;
}

.product-slider .product.slick-current {
	border-left: 1px solid transparent;
}

.category-title {
	color: #fff;
	position: absolute;
	width: 220px;
	padding:10px;
	top: 30px;
	z-index: 99;
	text-transform: uppercase;
	background-color: #faaf3a;
}

.category-title:hover,
.category-title:focus {
	color: #fff;
}

.category-title h1 {
	font-size: 18px;
	font-weight: 600;
	max-width: 130px;
	float: left;
	margin: 0 0 0 10px;
}

.category-icon {
	padding: 4px;
	float: right;
	display: inline-block;
}

.category-list {
	margin-top: 110px;
	padding: 0 20px;
}

.category-list>li>span {
	width: 140px;
	padding: 5px 0;
	display: inline-block;
	color: #a4a4a4;
	cursor: pointer;
	position: relative;
	border-bottom: 1px solid #f5f5f5;	
}

.category-list:after {
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -7px;
	left: 180px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 4px transparent;
    border-left: 8px solid #fff;
    z-index: 99;
}

.category-list li:last-child span {
	border-bottom: 0;
}

.category-info {
	float: right;
	width: 235px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.category-list.active>li.active>span,
.category-list>li.active>span,
.category-list li:hover>span {
	color: #faaf3a;
}

.category-image:before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 50%;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.07) 11%, rgba(0,0,0,0.19) 24%, rgba(0,0,0,0.69) 64%, rgba(0,0,0,0.85) 79%, rgba(0,0,0,0.97) 93%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.07) 11%,rgba(0,0,0,0.19) 24%,rgba(0,0,0,0.69) 64%,rgba(0,0,0,0.85) 79%,rgba(0,0,0,0.97) 93%,rgba(0,0,0,1) 100%); 
}

.category-info:hover .category-image:before {
    padding-top: 100%;
}

.category-info .overlay {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 30px;
}

.category-info .overlay h2 {
	margin: 0;
}

.category-info .overlay h2,
.category-info .overlay .price {
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}

.category-info .overlay .color {
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
}

.product {
	position: relative;
	background-color: #fff;
	text-align: center;
}

.product span {
	display: block;
}

.product-title {
	color: #3a3d3f;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
}

.product .color {
	font-size: 12px;
	margin: 5px 0;
}

.product .price {
	color: #3a3d3f;
}

.product del {
	color: #838c8e;
	margin-right: 5px;
}

.product img {
	display: inline-block;
}

.product-slider .slick-prev, 
.product-slider .slick-next,
.cta-slider .slick-prev, 
.cta-slider .slick-next {
	display: none !important;
}

.product-slider .slick-dots {
	/*bottom: -45px;*/
	bottom: -7px;
}

.slick-dots li button {
	width: 6px;
	height: 6px;
	padding: 1px;
	background-color: #d5d5d4;
	border-radius: 100%;
	position: relative;
}

.product-slider .slick-dots li.slick-active button,
.product-slider .slick-dots li:hover button {
	background-color: transparent;
}

.slick-dots li button:before {
	width: 16px;
	height: 16px;
	top: -5px;
	left: -5px;
	content: "";
	opacity: 0;
	border: 3px solid #faaf3a;
	background-color: transparent;
	border-radius: 100%;
}

.product-slider .slick-dots li.slick-active button:before,
.product-slider .slick-dots li:hover button:before {
	opacity: 1;
}


/* tr-cta */

.tr-cta {
	padding: 20px 100px;
	background-color: #fff;
}

.cta-info {
	padding: 40px 0;
	font-weight: 300;
	font-size: 16px;
}

.cta-info-left,
.cta-info-right {
	width: 50%;
	float: left;
}

.cta-info h1 {
	font-size: 48px;
	color: #292929;
	font-weight: 300;
	margin-bottom: 20px;
}

.cta-info .btn {
	margin-top: 20px;
}

.cta-iamage img {
	display: inline-block;
}

.cta-slider .slick-dots {
	width: inherit;
	bottom: 20px;
}

.cta-slider .slick-dots li.slick-active button {
	background-color: #faaf3a;
}

.cta-slider .slick-dots li button:before {
	display: none !important;
}

.tr-cta.cta-2 {
	padding: 20px 50px;
	background-image: url(../images/bg/cta-2-bg.png);
	background-repeat: no-repeat;
	background-position: right center;
}

.tr-cta.cta-2 .cta-info {
	max-width: 430px;
}

.tr-cta.cta-2 .cta-info h1 {
	margin: 0 0 25px;
	font-size: 30px;
}

.tr-cta.cta-2 .specification {
	color: #bbc0d4;
	margin: 30px 0 40px;
}

.tr-cta.cta-2 .specification span {
	margin-left: 10px;
	display: inline-block;
}

.tr-cta.cta-2 .specification a {
	color: #faaf3a;
}

.tr-cta.cta-2 .specification img {
	display: inline-block;
	margin-right: 5px;
} 

.tr-cta.cta-2 .buy-now  span{
	font-size: 30px;
	color: #363636;
	float: left;
	margin-top: 5px;
} 

.tr-cta.cta-2 .btn {
	margin: 0 0 0 30px;
}

/* daily-needs */

.daily-needs {
	padding-bottom: 20px;
}

.daily-needs .random-product {
	width: inherit;
	float: none;
	padding: 0;
}

.product a {
	color: #999eae;
	display: block;
}

.product {
	padding: 30px 15px;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 30px;
}

.image-slider .slick-dots {
	display: none !important;
}

.product-slider .product,
.related-product .product,
.daily-needs .product{
	margin-bottom: 0;
}

.slick-prev,
.slick-next {
	z-index: 99999;	
}

.image-slider {
	overflow: hidden;
}

.image-slider:hover .slick-prev {
	left: 0;
} 

.image-slider:hover .slick-next {
	right: 0;
}

.slick-prev:before {
	content: "\e052";	
}

.slick-next:before {
    content: "\e055";	
}

.slick-prev:before,
.slick-next:before {
	color: #c4c9da;
	font-family: "teriz";
}

.slick-prev:hover:before,
.slick-next:hover:before {
	color: #faaf3a;
}

/* tr-convenience */

.tr-convenience {
	padding: 50px 0;
	background-color: #faaf3a;
}

.convenience .icon {
	float: left;
	margin-right: 20px;
}

.convenience span {
	color: #fff;
	font-weight: 700;
	max-width: 120px;
	line-height: 16px;
	margin-top: 8px;
	letter-spacing: 4px;
	display: inline-block;
	text-transform: uppercase;
}

/* tr-brands */

.tr-brands {
	margin-bottom: 30px;
	background-color: #fff;
	border: 1px solid #e2e3e4;
}

.tr-brands .brand {
	text-align: center;
	padding: 40px;
	background-color: #fff;
	border-left: 1px solid #e2e3e4;
}

.tr-brands .brand.slick-current {
	border-left-color: transparent;
}

.tr-brands .brand img {
	display: inline-block;
	opacity: .2;
	-webkit-filter:grayscale(0) ;
	-moz-filter:grayscale(0) ;
	-ms-filter:grayscale(0) ;
	-o-filter:grayscale(0) ;
	filter:grayscale(0) ;
}

.tr-brands .brand:hover img {
	opacity: 1;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

.brands-slider .slick-prev, 
.brands-slider .slick-next,
.brands-slider .slick-dots {
	display: none !important;
}


/* Product Categories */

.panel-default {
	border: 0;
	box-shadow: none;
	background-color: transparent;
}

.panel-group {
	margin-bottom: 0;
}

.panel-group .panel+.panel {
	margin-top: 0;
	border-top: 1px solid #e5e5e5;
}

.panel-default>.panel-heading {
	border: 0;
	border-radius: 0;
	background-color: #fff;
}

.panel-heading {
	padding: 15px 30px;
}

.panel-heading a {
	display: block;
	position: relative;
	color: #363636;
	font-weight: 600;	
}

.panel-heading a:hover,
.panel-heading a:focus,
.panel-body li a:hover,
.panel-body li a:focus,
.panel-heading>a>.collapsed {
	color: #faaf3a;
}

.panel-heading a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    width: 0;
    height: 0;	
	z-index: 1;
    border-bottom: 4px solid #bbc0d4;
    border-top: 4px transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;		
}

.panel-heading a.collapsed:after {
    border-top: 4px solid #bbc0d4;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;	    
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #e5e5e5;
}

.panel-body {
	padding: 0;
}

.panel-body ul li {
	font-size: 14px;
	padding: 10px 0;
	background-color: #fbfbfb;
	border-bottom: 1px solid #e5e5e5;
}

.panel-body ul li a {
	display: block;
	padding: 5px 0;
	margin: 0 30px;
}

.panel-body .children li:first-child {
	border-top: 1px solid #e5e5e5;
	margin-top: 8px;
}

.panel-body .children li:last-child {
	padding-bottom: 0;
}

.panel-body ul li:last-child {
	border-bottom: 0;
}

/* choices-option */

.choices-option>ul>li {
	padding: 20px 30px 25px;
	overflow: hidden;
	display: block;
	position: relative;
}

.choices-option>ul>li:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
}

.choices-option ul span {
	font-size: 14px;
	color: #bbc0d4;
	display: block;
	margin-bottom: 15px;
}

/* tr-color */


.tr-color input[type="radio"]+label,
.brands form ul li label:before {
    cursor: pointer;
    display:inline-block;
    position:relative;
    width: 44px;
    height: 44px;
    margin-right: 2px;
}

input[type="radio"],
.brands form ul li [type="checkbox"] {
    display:none;
}

.tr-color input[type="radio"] + label:before {
    position:absolute;
    top:2px;
    left:0;
    content:"";
    width:45px;
    height:45px;
    border-radius:50%;
    display:inline-block;
    background-color: #0081ff;
    border: 3px solid #e5e5e5;
}

.tr-color input[type="radio"] + label:after {
	position: absolute;
	content: "\f00c";
	font-family: "fontawesome";
	font-weight: normal;
	top: 50%;
	left: 50%;
	margin-top: -12px;
	margin-left: -9px;
	font-size: 20px;
	color: #fff;
	opacity: 0;
}

.tr-color input[type="radio"]:checked + label:after {
	opacity: 1;
}

.tr-color input[type="radio"]#color2 + label:before {
	background-color: #504f54;
}

.tr-color input[type="radio"]#color3 + label:before {
	background-color: #986aff;
}

.tr-color input[type="radio"]#color4 + label:before {
	background-color: #f26522;
}

.tr-color input[type="radio"]#color5 + label:before {
	background-color: #ffce00;
}

.tr-color input[type="radio"]#color6 + label:before {
	background-color: #01d5d8;
}

/* price slider */

#price_slider {
	margin-top: 25px;
	position: relative;
}

.ui-slider {
  height: 2px;
  margin: 4px 5px 4px 7px;
  border: none;
  border-radius: 0;
  background: #cccccc;
  font-family: inherit;
  cursor: pointer;
}

.ui-slider a {
	transition: inherit;
}

.ui-slider .ui-slider-range {
  background: #faaf3a;
}

.ui-slider .ui-slider-handle {
  height: 20px;
  width: 20px;
  background: #fff;
  border: 2px solid #faaf3a;
  border-radius: 100%;
  margin-top: -9px;
  margin-left: -10px;
  cursor: pointer;
  position: absolute;
}

.price_slider_amount {
	margin-top: 15px;
}

.price_slider_amount input {
	float: left;
	border: none;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 5px;
}

.price_slider_amount .btn.btn-primary {
	float: right;
	padding: 6px 75px;
	font-size: 12px;
}


/* tr-size */

.tr-size li {
	float: left;
	margin-right: 7px;
}

.tr-size li a {
    width: 43px;
    height: 43px;
    line-height: 40px;
	float: left;
	text-align: center;
	border: 2px solid #e5e5e5;
	border-radius: 8px;
}

.tr-size li a:hover,
.tr-size li a:focus {
	color: #faaf3a;
	border-color: #faaf3a;
}

.tr-size li:last-child {
	margin-right: 0;
}

/* brands */

.brands form ul {
	height: 150px;
	overflow-x: hidden;
}

.brands form ul li label {
	padding-left: 35px;
	font-size: 14px;
	color: #363636;
	font-weight: 600;
	cursor: pointer;
	position: relative;
}

.brands form {
	position: relative;
}

.brands form .form-control {
	border: 2px solid #e2e4e8;
	padding: 5px 35px;
	margin-bottom: 25px;
}

.brands form .form-control:focus {
	border-color: #faaf3a;
}

.brands form button {
	position: absolute;
	left: 15px;
	top: 15px;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.brands form ul li {
	margin-bottom: 15px;
}

.brands li input[type="checkbox"] + label:before {
	position: absolute;
	content: "";
	left: 0;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	background-color: #fbfbfb;
	border: 1px solid #e5e5e5;
}

.brands li input[type="checkbox"] + label:after {
	position: absolute;
	content: "\f00c";
	font-family: "fontawesome";
	font-weight: normal;
	left: 5px;
	font-size: 16px;
	color: #faaf3a;
	opacity: 0;
}

.brands li input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.apply-changes {
	padding: 30px 15px;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.apply-changes i {
	margin-right: 10px;
}

/* tr-pagination */

.tr-pagination.tr-section {
	margin-top: 20px;
}

.pagination {
	margin: 0;
	width: 100%;
	padding: 0 15px;
	display: block;
}

.pagination li {
	font-size: 18px;
	display: inline-block;
}

.pagination>li>a, 
.pagination>li>span {
	border: 0;
	color: #363636;
	border-radius: 0;
	padding: 20px 10px;
	display: block;
	float: none;
	position: relative;
	background-color: transparent;
}

.pagination>li>a:before,
.pagination>li>a:after {
	position: absolute;
	content: "";
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 0;
	background-color: #faaf3a;
}

.pagination>li>a:before {
	top: 0;
}

.pagination>li>a:after {
	bottom: 0;
}

.pagination>li>a:hover:before,
.pagination>li>a:hover:after,
.pagination>li.active>a:before,
.pagination>li.active>a:after {
	opacity: 1;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover,
.pagination>li>a:focus, .pagination>li>a:hover, 
.pagination>li>span:focus, .pagination>li>span:hover {
	color: #faaf3a;
	background-color: transparent;
}


/* Details Page CSS */

.products-details-info {
	max-width: 335px;
	padding: 50px 15px;
	position: relative;
}

.tr-share-content {
	position: absolute;
	right: -30px;
}

.tr-share-content li {
	font-size: 16px;
	position: relative;
	cursor: pointer;
}

.tr-share-content li span {
	position: absolute;
	width: 100px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	right: 100%;
	margin-right: 20px;
	top: -5px;
	padding: 5px;
	text-align: center;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
}

.tr-share-content li span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -6px;
    border-left: 10px solid #e5e5e5;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.tr-share-content li:hover {
	color: #faaf3a;
}

.tr-share-content li:hover span {
	opacity: 1;
	visibility: visible;
}

.tr-share-content li a:hover .fa-facebook {
	color: #344f88;
}

.tr-share-content li a:hover .fa-twitter{
	color: #2696cf;
}

.tr-share-content li a:hover .fa-google-plus {
	color: #d34132;
}

.tr-share-content li span a {
	padding: 5px;
}

.products-details-info .product-title {
	color: #fff;
	padding: 5px 15px;
	border-radius: 30px;
	background-color: #ec2227;
}

.products-details-info h1 {
	color: #3a3d3f;
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0 10px;
}

.product-details-slider {
	text-align: center;
	padding:0 30px;
}

.product-details-slider .product {
	padding: 0;
	margin-bottom: 0;
}

.product-details-slider .slick-dots {
	display: none !important;
}

.product-details-slider img {
	display: inline-block;
}

.product-details-slider .slick-prev,
.product-details-slider .slick-next {
	z-index: 999999;
	font-weight: 700;
}

.product-details-slider .slick-prev {
	left: 15px;
}

.product-details-slider .slick-next {
	right: 15px;
}

.rating-star {
	overflow: hidden;
	margin: 25px 0;
}

.rating-star li {
	float: left;
	margin-right: 10px;
	color: #ffce00;
}

.rating-star li:last-child {
	margin-right: 0;
}

.quantity-price span {
	font-size: 36px;
	color: #363636;
	font-weight: 300;
	float: left;
	margin-right: 40px;
}

.quantity-price span del {
	font-size: 18px;
}

.quantity input {
	width: 35px;
	border: 0;
	font-size: 18px;
	color: #363636;
	text-align: center;
}

.quantity .btn {
	border: 2px solid #ededed;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	padding: 0;
	color: #bbc0d4;
	line-height: 42px;
}

.quantity .btn:hover,
.quantity .btn:focus {
	color: #faaf3a;
}

.add-to-cart {
	margin-top: 50px;
	overflow: hidden;
}

.add-to-cart .btn.btn-primary {
	float: left;
	margin-right: 20px;
	padding: 15px 60px;
	text-transform: capitalize;
}

.add-to-cart .icon {
	font-size: 25px;
	color: #fff;
	width: 45px;
	height: 45px;
	line-height: 55px;
	overflow: hidden;
	text-align: center;
	display: inline-block;
	border-radius: 100%;
	background-color: #ec2227;
}

.add-to-cart .icon:hover {
	background-color: #faaf3a;
}

.products-description {
	padding: 40px 50px;
	color: #bbc0d4;
	font-size: 16px;
	line-height: 26px;
}

.description-tabs,
.cart-title {
	margin-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
}

.description-tabs>li>.nav-link,
.cart-title span {
	color: #bbc0d4;
	font-size: 16px;
	font-weight: 700;
	border: none;
	padding: 15px 30px;
	text-transform: capitalize;
	position: relative;
	margin-right: 1px;
}

.cart-title span {
	color: #faaf3a;
	display: inline-block;
	padding-left: 0;
}

.description-tabs>li>a:after,
.cart-title span:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	opacity: 0;
	background-color: #faaf3a;
}

.cart-title span:after {
	opacity: 1;
}

.description-tabs>li>.nav-link:hover:after,
.description-tabs>li>.nav-link.active:after {
	opacity: 1;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link.active {
	background-color: transparent;
	border: none;
	color: #faaf3a;
}

.products-description .tab-content li:last-child {
	margin-bottom: 0;
}

.tab-content #details ul {
	margin-bottom: 30px;
}

.payment-category {
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e5e5e5;
}

.payment-category .payment-card {
	margin-bottom: 30px;
}

.color-and-size {
	padding: 40px 50px;
}

.color-and-size .tr-color {
	float: left;
}

.color-and-size .tr-color span {
	margin-bottom: 20px;
	display: block;
}

.color-and-size .tr-size ul {
	margin-top: 25px;
	overflow: hidden;
}

.color-and-size .tr-size {
	float: right;
	overflow: hidden;
}

.tr-size .title {
	overflow: hidden;
}

.size-guide {
	color: #faaf3a;
}

.size-guide img {
	margin-right: 10px;
	display: inline-block;
}

.delivery-icon,
.payment h3 {
	margin-bottom: 25px;
}

.delivery-icon img {
	margin-right: 20px;
	display: inline-block;
}

.delivery-icon span,
.payment h3 {
	font-size: 18px;
	font-weight: 700;
}

/* Shopping Cart */

.item-info-menu {
	color: #363636;
	font-size: 14px;
	padding-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid #f2f2f2;
}

.cart-list li,
.cart-totals li {
	padding: 15px 0;
	border-bottom: 1px solid #f2f2f2;
}

.cart-item .product {
	text-align: left;
	padding: 0;
	margin: 0;
}

.cart-item .quantity {
	width: 90px;
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px solid #f2f2f2;
}

.cart-item .quantity .btn {
	border: 0;
	border-radius: 0;
	width: 15px;
	height: 15px;
	line-height: 30px;
}

.cart-item .tr-color {
	margin: 5px 0;
}

.cart-item .tr-color input[type="radio"]:checked + label:after {
	display: none;
}

.cart-item .tr-color input[type="radio"]+label {
	cursor: default;
}

.cart-item .price {
	color: #363636;
	display: block;
	margin: 15px 0;
}

.cart-totals .price {
	color: #363636;
}

.Promo-code .price {
	color: #e53c53;
}

.cart-item .product:hover .product-image img {
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.cart-item .product-image {
	float: left;
	width: 50px;
	margin-right: 15px;
	overflow: hidden;
}

.cart-item .product-title,
.cart-item span.color {
	float: left;
	display: block;
	width: 70%;
}

.cart-item span.color {
	margin: 0;
}

.delivery-category {
	overflow: hidden;
	margin-bottom: 30px;
}

.delivery-category li {
	float: left;
	margin-right: 70px;
}

.delivery-category li:last-child {
	margin-right: 0;
}

.woocommerce-cart-form .remove-icon {
	top: 50%;
	right: -15px;
	margin-top: -20px;
	opacity: 0;
}

.woocommerce-cart-form .remove-item:hover .remove-icon {
	opacity: 1;
}

.products-description .delivery-category label,
.products-description .payment-category label {
	font-size: 16px;
	color: #363636;
	cursor: pointer;
	font-weight: 700;
	position: relative;
	padding-left: 35px;
}

.delivery-category label:before,
.payment-category label:before {
    position: absolute;
    top: 2px;
    left: 0;
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
    border: 2px solid #e5e5e5;
}

.delivery-category label:after,
.payment-category label:after {
	position: absolute;
	content: "";
	top: 50%;
	left: 5px;
	margin-top: -6px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	opacity: 0;
	background-color: #faaf3a;
}

.delivery-category input[type="radio"]:checked + label:after,
.payment-category input[type="radio"]:checked + label:after {
	opacity: 1;
}

.products-description form label {
	font-size: 14px;
	font-weight: normal;
}

.products-description .form-control {
	border-radius: 10px;
}

.products-description .form-control:focus {
	color: #faaf3a;
}

.products-description .button-back {
	background-color: #fff;
	border-color: #e5e5e5;
}

.products-description .button-back:before,
.products-description .button-back:after {
	background-color: #e5e5e5;
}

.products-description .button-back:hover {
	border-color: #faaf3a;
}

.products-description .buttons {
	margin-top: 40px;
}

.products-description .expire-date label {
	display: block;
	overflow: hidden;
}

.products-description .expire-date input:last-op-type {
	margin-right: 0;
}

.cvv-code label {
	margin-right: 50px;
}

.cvv-code a {
	color: #faaf3a;
}

.cvv-code a img {
	margin-right: 5px;
	display: inline-block;
}

.payment-card img {
	display: inline-block;
}

.form-control-after {
	position: relative;
}

.form-control-after:after {
	position: absolute;
	top: 50%;
	right: 20px;
	content: "\f107";
	cursor: pointer;
	margin-top: 2px;
	font-family: "fontawesome";
}

/* tr-congrats */

.tr-congrats .icon {
	color: #faaf3a;
	font-size: 200px;
	line-height: 0;
	margin-bottom: 40px;
}

.tr-congrats h1 {
	color: #363636;
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 25px;
}

.congrats-content {
	padding: 100px 15px;
	font-size: 16px;
	max-width: 500px;
	display: inline-block;
}

/* tr-account */

.user-account {
	padding: 80px 50px;
	font-size: 16px;
	background-color: #fff;
	overflow: hidden;
}

.user-account h1 {
	font-size: 42px;
	color: #363636;
	margin: 0 0 20px;
	text-transform: uppercase;
	font-weight: 300;
}

.user-account form {
	margin-top: 35px;
}

.user-account form span {
	display: block;
	margin: 40px 0;
}

.user-account .btn.btn-primary {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 40px;
}

.user-account .social {
	padding-top: 40px;
	margin-top: 40px;
	border-top: 1px solid #e2e4e8;
}

.user-account .social a {
	color: #fff;
	font-size: 20px;
	padding: 12px 70px;
	border-radius: 30px;
	display: inline-block;
}

.user-account .social li:first-child a {
	background-color: #1da1f2;
	border: 1px solid #1da1f2;
}

.user-account .social li:first-child a:hover {
	color: #1da1f2;
	background-color: transparent;
}

.user-account .social li:last-child a {
	background-color: #3b5998;
	border: 1px solid #3b5998;
}

.user-account .social li:last-child a:hover {
	color: #3b5998;
	background-color: transparent;
}

.popup-page{
	background: rgba(50,62,62,0.9);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0px;
	overflow: hidden;
	z-index: 10000;	
}


/* tr-footer */

.footer-top,
.footer-bottom {
	padding: 70px 0;
}

.footer-top {
	background-color: #2d333b;
}

.footer-top .left-content {
	max-width: 490px;
}

.footer-top form,
.payment-card {
	position: relative;
	margin-top: 30px;
	overflow: hidden;
}

.footer-top form .form-control {
	margin-bottom: 0;
}

.footer-top form .btn {
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 0;
	width: 22px;
	height: 24px;
	cursor: pointer;
	text-indent: 999999px;
	background-color: transparent;
	background-image: url(../images/others/submit.png);
	background-repeat: no-repeat;
	border: none;
	font-size: 24px;
	color: #aaa;
	transition: inherit !important;
}

.footer-top form .btn:hover {
	background-image: url(../images/others/submit-hover.png);
}

.footer-top h3 {
	font-size: 24px;
	color: #fff;
	margin: 0 0 15px;
}

.payment-card ul li {
	float: left;
	margin-right: 22px;
	border-radius: 4px;
	overflow: hidden;
}

.payment-card ul li:last-child {
	margin-right: 0;
}

/* footer-bottom */

.footer-bottom {
	overflow: hidden;
	background-color: #22272d;
}

.footer-widget {
	width: 20%;
	float: left;
}

.footer-widget span {
	display: block;
	margin-top: 15px;
}

.footer-logo {
	margin-bottom: 40px;
}

.footer-widget h3 {
	font-size: 14px;
	color: #fff;
	margin:0 0 25px;
	text-transform: uppercase;
}

.footer-widget li {
	margin-bottom: 10px;
}

.footer-widget li:last-child {
	margin-bottom: 0;
}

.footer-widget li i {
	width: 30px;
}

.footer-widget a:hover {
	color: #fff;
}



/* ==========================================================================
 	Extra CSS
 ========================================================================== */

a, input, .tr-dropdown-menu,
.category-info, .slick-dots li button,
.category-image:before, .category-list>li>span:after,
.slick-prev, .slick-next, .slick-dots li button:before,
.panel-title, .pagination>li>a:before, .brand img,
.pagination>li>a:after, .description-tabs>li>a:after,
.carousel-indicators li:before, .carousel-indicators li,
.btn.btn-primary:before, .btn.btn-primary:after,
.product-icon .icon, .product-image img, button.close,
.remove-icon, .tr-share-content li span,
.tr-share-content li, .add-to-cart .icon   {
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

/* calendar */
::-webkit-inner-spin-button { 
	display: none; 
}
