/* General Classes */

    .marginT30{margin-top:30px;}
    .inline{display: inline-block;}
    .marginR100{margin-right:100px;}
    @media print
{

    .marginT30{margin-top:30px;}
    .inline{display: inline-block;}
    .marginR100{margin-right:100px;}
}
.marginTR10{
    margin-top: 10px !important;
    margin-right: 10px !important;
}
.btn-product-bg{
    background: linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030) !important;
}

.shopping_mall_arrow{
    font-weight: bold;
    margin-top: -4px;
    font-size: 25px;
}

.nav > li > a:hover, .nav > li > a:focus{
    background: #FFEF41 !important;
}
.form-control {
    border-color: #FFE721 !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.panel-heading{
    font-weight: bold;
    font-size: 18px;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2016, 11:47:49 AM
    Author     : maxxsol
*/

body{
    background: -webkit-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030); /* Standard syntax */

}

/*.blank_rising_star {


    background: -webkit-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030);  For Safari 5.1 to 6.0 
    background: -o-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030);  For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030);  For Firefox 3.6 to 15 
    background: linear-gradient(#FFDF03, #FFE826,#FFFD75,#FFFD75,#FEE030);  Standard syntax 
    

}*/
.mqrgin-bottom-20{
    margin-bottom:23px;
}
input{
    opacity: 0.7;
}
select{
    opacity: 0.7;
}
/*#wrapper {
    background:none !important; 
    border-left: 1px solid #62cb31 !important;
    min-height:800px;

} */
#side-menu li {
    border-bottom: 1px solid #62cb31;
}
#side-menu li.active {
    background: #FFEF41 !important;

}
#side-menu li:first-child {
    border-top: none !important;
}
#side-menu.nav > li > a:hover, #side-menu.nav > li > a:focus {
    background: #FFEF41 !important;
}
.content{

}
#logo{   
    padding: 0 5px;
}
#side-menu li img{
    margin-right:8px;
}
#side-menu li a {
    font-size:12px;
    padding: 10px 11px !important;
    text-transform: none;
}
.side-menu-risingstyle{
    background: none !important;
}
#activeclasshandle li{
    cursor:pointer;        
}
.logo-risingstar{
    padding: 50% 0;   /* equals max image height */
    /*width:100%;*/
    white-space: nowrap;
    text-align: center;
}

.logo-risingstar img{

    vertical-align: middle;
    max-height: 100px;
    max-width: 100%;

}
.me-hide{
    display:none;   
}
#withdraw-process a:hover{
    color: #62cb31 !important;
}

#withdraw-model-loader{
    background: black none repeat scroll 0 0;
    display: block;
    height: 100%;
    margin-left: -15px;
    margin-right: 28px;
    opacity: 0.2;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
#process-withdraw_paginate,#process-withdraw_filter{
    float:right !important;
}
